[Unit]
Description=AutoSSH tunnel service everythingcli MySQL on local port 5000
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -N -R 0.0.0.0:6001:localhost:22 -R 0.0.0.0:6081:localhost:80 -i ~/.ssh/cloud_vm garges@34.127.85.102 -o ExitOnForwardFailure=yes 

[Install]
WantedBy=multi-user.target
